extend layout

block content 
    #carouselExampleCaptions.carousel.slide(data-bs-ride="carousel")
        -if(photos.length == 1)
            .carousel-inner
                .carousel-item.active   
                    img.d-block.w-100(src=photos[0].file, alt="")
                    .carousel-caption.d-none.d-md-block 
                        h5 #{photos[0].title}
                        p #{photos[0].description}
        -if(photos.length == 2)
            .carousel-inner
                .carousel-item.active   
                    img.d-block.w-100(src=photos[0].file, alt="")
                    .carousel-caption.d-none.d-md-block 
                        h5 #{photos[0].title}
                        p #{photos[0].description}
                .carousel-item  
                    img.d-block.w-100(src=photos[1].file, alt="")
                    .carousel-caption.d-none.d-md-block 
                        h5 #{photos[1].title}
                        p #{photos[1].description}
        -if(photos.length > 2)
            .carousel-inner
                .carousel-item.active   
                    img.d-block.w-100(src=photos[0].file, alt="")
                    .carousel-caption.d-none.d-md-block 
                        h5 #{photos[0].title}
                        p #{photos[0].description}
                .carousel-item  
                    img.d-block.w-100(src=photos[1].file, alt="")
                    .carousel-caption.d-none.d-md-block 
                        h5 #{photos[1].title}
                        p #{photos[1].description}
                .carousel-item  
                    img.d-block.w-100(src=photos[2].file, alt="")
                    .carousel-caption.d-none.d-md-block 
                        h5 #{photos[2].title}
                        p #{photos[2].description}

        button.carousel-control-prev(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
        button.carousel-control-next(type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")

    #photos-title-1.my-5
        h4.text-center ---- 最 新 照 片 ----

    #photos-list.row.row-cols-3.g-4(style="margin-bottom:5rem;")
        each item in photos
            .col
                .card
                    a(href="/photos/"+item._id, target="_blank") 
                        img.card-img-top(src=item.file alt="")
                    .card-body 
                        h5.card-title #{item.title}
                        p.card-text  #{item.description}
